<template name="headerLayout">
    <div class="header-top-line">
        <div class="content-wrapper clearfix">
            <div class="grid-3 item-1">
                <div id="logo">
                    <a href="{{pathFor 'indexPage'}}"><img src="/images/logo.png" /></a>
                </div>
            </div>
            <div class="grid-3 item-2">
                {{> searchBox}}
            </div>
            <div class="grid-3 item-3">
                {{> accountLinks}}
            </div>
        </div>
    </div>
</template>
