<template name="cityblock">
    <div class="page-header">
        <h1>
            Редактирование района города 
        </h1>
    </div>
    <div class="ya-actions">
        <a href="#" class="ya-secondary-btn ya-btn save-btn" id="saveBtn"><span class="fa fa-pencil-square-o"></span>Сохранить</a>
        <a href="#" class="ya-third-btn ya-btn save-btn" id="saveAndCloseBtn"><span class="fa fa-check"></span>Сохранить и закрыть</a>
        <a href="#" class="ya-third-btn ya-btn save-btn" id="saveAndCreateBtn"><span class="fa fa-plus"></span>Сохранить и создать</a>
        <a href={{pathFor 'cityblocks'}} class="ya-third-btn ya-btn ya-warn" id="backBtn"><span class="fa fa-times-circle"></span>Отменить</a>
    </div>
   <div class="info-wrapper">
        <div class="info-line clearfix">
            <div class="input-group input-text">
                <label for="cityBlockName">Название района города *</label>
                <input type="text" class="ya-form-control" id="cityBlockName" placeholder="Район города" value="{{cityBlockName}}" />
            </div>
        </div>
        <div class="info-line clearfix">
            <div class="input-group input-text">
                <label for="city_id">Город *</label>
                <select type="text" class="ya-form-control" id="city_id">
                    {{#each cities}}
                        <option value="{{_id}}" {{ifSelected}}>{{cityName}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="info clearfix">
            <div class="input-group clearfix">
                <input  type="checkbox" {{ifChecked}} class="ya-form-control" id="isActive" />
                <label for="isActive"><span>Активный</span></label>
            </div>
        </div>
    </div>
</template>