<template name="adminMenu">
	<li>
		<a href="{{pathFor 'cities'}}"><span class="fa fa-globe"></span>Города</a>
	</li>
	<li>
		<a href="{{pathFor 'cityblocks'}}"><span class="fa fa-map"></span>Районы</a>
	</li>
	<li>
		<a href="{{pathFor 'repairtypes'}}"><span class="fa fa-wrench"></span>Типы ремонта</a>
	</li>
	<li>
		<a href="{{pathFor 'sources'}}"><span class="fa fa-reply-all"></span>Источники</a>
	</li>
	<li>
		<a href="{{pathFor 'tariffs'}}"><span class="fa fa-puzzle-piece"></span>Тарифы</a>
	</li>
	<li>
		<a href="{{pathFor 'typeofestates'}}"><span class="fa fa-building"></span>Типы недвижимости</a>
	</li>
	<li>
		<a href="#"><span class="fa fa-street-view"></span>Пользователи</a>
	</li>
	<li>
		<a href="{{pathFor 'clients'}}"><span class="fa fa-users"></span>Клиенты</a>
	</li>
	<li>
		<a href="{{pathFor 'estateobjects'}}"><span class="fa fa-university"></span>Объекты</a>
	</li>
	<li>
		<a href="{{pathFor 'orders'}}"><span class="fa fa-cart-arrow-down"></span>Заказы</a>
	</li>
	<li>
		<a href="#"><span class="fa fa-mobile"></span>SMS</a>
	</li>
	<li>
		<a href="#"><span class="fa fa-area-chart"></span>Статистика</a>
	</li>
	<li>
		<a href="#"><span class="fa fa-user"></span>Профиль</a>
	</li>
</template>