<template name="clientMenu">
	
	{{# each menuItems}}
		<li>
			{{#if isActive}}
				<a href="{{pathFor path}}" class="active-menu-item"><span class="fa {{icon}}"></span>{{title}}</a>
			{{else}}
				<a href="{{pathFor path}}"><span class="fa {{icon}}"></span>{{title}}</a>
			{{/if}}
		</li>
	{{/each}}
	<li>
		<a href="/contract.doc" target="_blank"><span class="fa fa-file-word-o"></span>Бланк договора аренды</a>
	</li>
	<!--li>
		<a href="#"><span class="fa fa-user"></span>Профиль</a>
	</li-->
	<!--li>
		<a href="#"><span class="fa fa-life-ring"></span>Центр помощи</a>
	</li-->
</template>