<template name="resourceRightsItem">
    <tr><td>
        <h2 class="resource-title">{{resourceName}}</h2>
            {{#each rolesArr}}
                <h3>{{roleName}}</h3>
                {{#each permArr}}
                    <div class="info-wrapper">
                        <div class="info-line clearfix">
                            <div class="input-group input-text checkbox-input floatleft">
                                <input  type="checkbox" {{isActive}} class="ya-form-control {{permitionName}}" id="{{permitionId}}" />
                                <label for="{{permitionId}}"><span>{{permitionName}}</span></label>
                            </div>
                            <div class="input-group input-text floatleft">
                                <label for="{{fieldsId}}">Поля</label>
                                <input type="text" class="ya-form-control" id="{{fieldsId}}" placeholder="Поля" value="{{fields}}" />
                            </div>
                            <p>{{fields}}</p>
                        </div>
                    </div>
                {{/each}}
            {{/each}}
    </td></tr>
</template>
