<template name="profile">
    <div class="page-header">
        <h1>
            Редактирование профиля {{namelast}} {{namefirst}}
        </h1>
    </div>
    <div class="info-wrapper">
        <h2 class="form-title">Сменить пароль:</h2>
        <div class="info personal-info clearfix">
            <div class="input-group">
                <label for="typeOfEstateName">Старый пароль *</label>
                <input type="password" name="oldPassword" class="ya-form-control " id="oldPassword" placeholder="Старый пароль" value="" />
            </div>
            <div class="input-group">
                <label for="typeOfEstateName">Новый пароль *</label>
                <input type="password" name=" newPassword" class="ya-form-control " id="newPassword" placeholder="Новый пароль" value="" />
            </div>
        </div>
    </div>
    <div class="actions">
        <button type="button" class="btn btn-primary" id="saveBtn">Сохранить</button>
    </div>
</template>