<template name="loginForm">
    <div class="page-header">
        <h1>
            Вход
        </h1>
    </div>
    <div class="login-wrapper">
        <form id="login-form">
            <div class="info login-info clearfix">
                <div class="input-group">
                    <div class="login-line form-line">
                        <label for="login">Логин *</label>
                        <input type="text" class="ya-form-control" id="login" placeholder="Телефон или e-mail" value="" />
                    </div>
                    <div class="login-line form-line">
                        <label for="password">Пароль *</label>
                        <input type="password" class="ya-form-control" id="password" placeholder="Пароль" value="" />
                    </div>
                </div>
            </div>
            <div class="actions">
                <input type="submit" class="ya-primary-btn" id="login-btn" value="Войти" />
            </div>
        </form>
    </div>
</template>